{% extends "index.html" %}

{% block title %}행사·축제{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/festivities.css') }}">
{% endblock %}

{% block content %}
  <div class="scale-wrap">
    <div class="design-1920">

      <img
        class="poster poster-1 js-poster"
        src="{{ url_for('static', filename='img/festivities/광안리어방축제_포스터_(1) 1.png') }}"
        data-original="{{ url_for('static', filename='img/festivities/광안리어방축제_포스터_(1) 1.png') }}"
        data-swapped="{{ url_for('static', filename='img/festivities/어방 2.png') }}"
        alt="광안리 어방축제"
      />

      <img
        class="poster poster-2 js-poster"
        src="{{ url_for('static', filename='img/festivities/국제영화제 1.png') }}"
        data-original="{{ url_for('static', filename='img/festivities/국제영화제 1.png') }}"
        data-swapped="{{ url_for('static', filename='img/festivities/국제영화 2.png') }}"
        alt="부산국제영화제(BIFF)"
      />

      <img
        class="poster poster-3 js-poster"
        src="{{ url_for('static', filename='img/festivities/불꽃 7.png') }}"
        data-original="{{ url_for('static', filename='img/festivities/불꽃 7.png') }}"
        data-swapped="{{ url_for('static', filename='img/festivities/불꽃축제 5.png') }}"
        alt="부산불꽃축제"
      />

      <div class="page-title">부산 대표 축제를 만나보세요!</div>

      <div class="poster-caption caption-1">광안리 어방축제</div>
      <div class="poster-overlay overlay-1 js-overlay" data-for="poster-1">
        <div class="overlay-title">광안리 어방축제</div>
        <div class="overlay-body">
          <div class="overlay-block"><b>[장소]</b><br/>광안리해변 · 수영구 일대</div>
          <div class="overlay-block"><b>[시기]</b><br/>매년 봄 개최</div>
          <div class="overlay-block"><b>[소개]</b><br/>부산의 전통 어업 문화를 현대적으로<br/>즐길 수 있는 수영구 대표 봄 축제</div>
          <div class="overlay-block"><b>[관람 Tip]</b><br/>가족 단위 방문 추천,<br/>해변 주변 체험 부스 먼저 둘러보기 좋음</div>
        </div>
      </div>

      <div class="poster-caption caption-2">부산국제영화제(BIFF)</div>
      <div class="poster-overlay overlay-2 js-overlay" data-for="poster-2">
        <div class="overlay-title">부산국제영화제(BIFF)</div>
        <div class="overlay-body">
          <div class="overlay-block"><b>[장소]</b><br/>영화의전당 · 센텀시티 일대</div>
          <div class="overlay-block"><b>[시기]</b><br/>매년 9-10월 개최</div>
          <div class="overlay-block"><b>[소개]</b><br/>아시아 영화 산업을 대표하며 전 세계<br/>영화인들이 모이는 부산의 대표 국제 영화제</div>
          <div class="overlay-block"><b>[관람 Tip]</b><br/>영화의전당 야외상영 이벤트는<br/>선착순 입장이라 일찍 도착 추천</div>
        </div>
      </div>

      <div class="poster-caption caption-3">부산불꽃축제</div>
      <div class="poster-overlay overlay-3 js-overlay" data-for="poster-3">
        <div class="overlay-title">부산불꽃축제</div>
        <div class="overlay-body">
          <div class="overlay-block"><b>[장소]</b><br/>광안리해변 · 광안대교 일대</div>
          <div class="overlay-block"><b>[시기]</b><br/>매년 11월 개최</div>
          <div class="overlay-block"><b>[소개]</b><br/>광안대교와 부산 바다를 배경으로 화려한<br/>불꽃 연출을 즐길 수 있는 대표 가을 야경 축제</div>
          <div class="overlay-block"><b>[관람 Tip]</b><br/>해변, 민락수변공원, 동백섬 근처에서<br/>명당 포인트</div>
        </div>
      </div>

      <div class="event-box box-1"></div>
      <div class="event-box box-2"></div>
      <div class="event-box box-3"></div>
      <div class="event-box box-4"></div>

      <div class="badge badge-1"><span>행사중</span></div>
      <div class="event-title title-1">부산국제매직페스티벌</div>
      <div class="event-loc loc-1">부산광역시 동구</div>
      <div class="event-date date-1">2025.04.12(토)~ 2025.12.14(일)</div>
      <img class="event-thumb thumb-1" src="{{ url_for('static', filename='img/festivities/매직 1.png') }}" alt="부산국제매직페스티벌 썸네일" />

      <div class="badge badge-2"><span>행사중</span></div>
      <div class="event-title title-2">광안리 M(Marvelous) 드론 라이트쇼</div>
      <div class="event-loc loc-2">부산광역시 수영구</div>
      <div class="event-date date-2">2025.01.01(수)~ 2025.12.31(수)</div>
      <img class="event-thumb thumb-2" src="{{ url_for('static', filename='img/festivities/드론 1.png') }}" alt="드론 라이트쇼 썸네일" />

      <div class="badge badge-3"><span>행사중</span></div>
      <div class="event-title title-3">광복로 겨울빛 트리축제</div>
      <div class="event-loc loc-3">부산광역시 중구 광복로패션거리</div>
      <div class="event-date date-3">2025.12.05(금)~ 2026.02.22(일)</div>
      <img class="event-thumb thumb-3" src="{{ url_for('static', filename='img/festivities/트리 1.png') }}" alt="광복로 트리축제 썸네일" />

      <div class="badge badge-4"><span>D-7</span></div>
      <div class="event-title title-4">온천천 빛 축제</div>
      <div class="event-loc loc-4">부산광역시 동래구 온천천</div>
      <div class="event-date date-4">2025.12.19(금)~ 2026.02.01(일)</div>
      <img class="event-thumb thumb-4" src="{{ url_for('static', filename='img/festivities/온천천 1.png') }}" alt="온천천 빛 축제 썸네일" />

    </div>
  </div>

  <script src="{{ url_for('static', filename='js/festivities.js') }}"></script>
{% endblock %}

