<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/index.css" />
  </head>
  <body>
    <form action="/method" method="POST">

    <header>
      <img src="static/img/로고2 2.png" alt="로고" class="logo">
      <nav class="nav-menu">
        <span class="menu-item active">메인</span>
        <span class="menu-item ">대표 관광지</span>
        <span class="menu-item">여행코스</span>
        <span class="menu-item">행사·축제</span>
        <span class="menu-item">교통·주차</span>
      </nav>
      <div class="login-button">로그인</div>
    </header>
    
    <div class="screen">
      <img class="group" src="img/Group 17.png" />
      <img class="element" src="img/로고2 1.png" />
      <div class="frame">
        <div class="text-wrapper">구름 낀 하늘</div>
        <img class="img" src="img/1555512 1.png" />
      </div>
      <div class="div">
        <div class="text-wrapper-2">16˚C</div>
        <div class="text-wrapper-3">최대:18˚C</div>
        <div class="text-wrapper-4">최대:12˚C</div>
      </div>
      <p class="p">다채로운 반전의 대조적 매력을 가진 도시, 부산</p>
      <p class="text-wrapper-6">Busan, a city of vibrant contrasts and unexpected charm</p>
      <img class="element-2" src="img/메인-해동용궁사 1.png" />
      <img class="element-3" src="img/시티 1.png" />
      <div class="group-2">
        <div class="rectangle"></div>
        <div class="nature-city">Nature &amp; City</div>
      </div>
      <div class="group-3">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-11">Local &amp; Global</div>
      </div>
      <div class="group-4">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-11">Passionate &amp; Humane</div>
        <p class="text-wrapper-11">Cluster Hub &amp; Art, Cultural Mecca</p>
      </div>
      <p class="text-wrapper-8">
        여행부터 비즈니스까지 모든 경험이 만족스러운 살기 좋은 도시 온갖 <br />다채로운 것들이 공존하는 곳 부산에서
        당신이 상상하는 것 이상의 반전 매력을 느껴보세요.
      </p>

      <p class="text-wrapper-5">부산을 닮은 귀여운 갈매기, 부기</p>
      <p class="text-wrapper-7">Boogi, the adorable seagull that embodies the spirit of Busan</p>
      <p class="boogi">
        <span class="span">부기(Boogi)</span>
        <span class="text-wrapper-9"
          >는 부산을 상징하는 갈매기를 모티브로 만든부산 대표 관광 캐릭터로, 활기찬 에너지와 따뜻한 매력을 가진 부산의
          얼굴입니다</span>
      </p>
      <p class="text-wrapper-10">
        • 부산의 바다와 하늘을 담은 블루·화이트 컬러<br />• 밝고 친근한 이미지로 다양한 관광 정보 전달<br />• 부산 관광
        기념품, 안내 콘텐츠 등에서 활약하는 공식 마스코트
      </p>
      

      <img class="image" src="img/boogi.png" />
      <img class="image-2" src="img/boogi_text.png" />
      <img class="element-2" src="img/1.png" />
      <img class="image-3" src="img/boogi_bady.png" />

    </div>
  </body>
</html>
